#fijo {
    position: sticky;
    right: 10px; /* Pegado a la derecha con un pequeño margen */
    bottom: 10px; /* Pegado abajo con un pequeño margen */
    height: 50px; /* Tamaño menor */
    width: auto; /* Mantiene la proporción de la imagen */
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 3%;
}

#fijo img {
    height: 50px; /* Ajusta el tamaño del logo */
    width: auto; /* Mantiene la proporción */
}
.game-container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: blue; /* Fondo del área del juego */
    border: 2px solid white;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    top: 180px;
    left: 180px;
}
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    background-color: #3498db;
    border: 5px solid #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Estilos*/
/* Fondo verde para toda la página */
body {
    background-color: #238302;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, p, a {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra negra con algo de transparencia */
    color: #4B0082;
    font-weight: 600; /* Peso de letra medio */

}
/* Centrar el logo en el header */
#Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#Logo-banner img {
    max-width: 50px; /* Ajusta el tamaño del logo si es necesario */
}
/* Hacer que el body use flexbox para distribuir los elementos */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Permitir que el contenido principal ocupe el espacio disponible */
main {
    flex: 1;
    max-width: 70%; /* Ajusta según el ancho deseado */
    margin: 20px auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Agrega algo de espacio interno */

}

/* Mantener el footer pegado al fondo */
footer {
    background-color: #238302;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
header {
    background-color: #238302;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra solo abajo */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 10%; 
}

footer {
    background-color: #238302;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5); /* Sombra solo arriba */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* introducción*/
#Introduccion {
    background-color: #1d6b1f; /* Un tono más oscuro de verde */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    padding: 20px 0; /* Espaciado interno de arriba y abajo */
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2), 0 -10px 10px -10px rgba(0, 0, 0, 0.2); /* Sombra solo de lado a lado */
}

/* Para el texto */
.intro-text {
    flex: 1;
    padding-right: 20px;  /* Espacio entre el texto y la imagen */
    text-align: center; /* Justifica el texto */
    line-height: 1.6; /* Ajusta el interlineado para mayor legibilidad */
}

/* Para la imagen */
.intro-image {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra la imagen dentro del div */
}

.intro-image img {
    max-width: 70%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene las proporciones de la imagen */
    border-radius: 10px; /* Bordes redondeados si lo deseas */
}

/*Secciones*/

#Section > .Sections {
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para la línea */
    padding-bottom: 0px; /* Espacio debajo de cada sección */
    margin-bottom: 20px; /* Separación entre secciones */
}

.section-divider {
    height: 5px;
    background-color: #4B0082; /* Color índigo */
    margin: 20px 0; /* Espaciado entre las secciones */
    border-radius: 2px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
/*----------------------------------------------------------------------*/
/*Seccion general*/
/* Clase base para las secciones */
.section {
    display: flex; /* Usamos Flexbox para dividir la sección */
    justify-content: space-between; /* Asegura que las dos partes se alineen correctamente */
    align-items: center; /* Centra verticalmente el contenido */
    height: 400px; /* Puedes ajustar la altura según lo que necesites */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    overflow: hidden; /* Asegura que nada sobresalga */
    position: relative; /* Para poder usar el pseudo-elemento */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Pseudo-elemento para la línea diagonal */
.section::before {
    content: ''; /* No tiene contenido visible */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #4B0082; /* Color indigo de la línea */
    clip-path: polygon(0 0, 60% 0, 70% 100%, 0 100%); /* Línea diagonal */
    z-index: 1;
    transition: transform 0.3s ease;
}

/* Efecto hover */
.section:hover {
    transform: scale(1.03); /* Agranda la sección */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

/* Mover la línea al pasar el mouse */
.section:hover::before {
    transform: translateX(-30%); /* Mueve la línea hacia la izquierda */
}

/* Estilos específicos para el contenido dentro de cada sección */
.section .left {
    flex: 25%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.section .left h1 {
    margin: 0;
    font-size: 2em;
    color: #238302;
}

.section .right {
    flex: 75%;
    background-position: center;
    background-size: cover;
    height: 100%;
    z-index: 0;
}

/* Clases específicas para cada imagen de fondo */
.section--image1 .right {
    background-image: url('Images/fuchsproperty.png');
}

.section--image2 .right {
    background-image: url('Images/Data_science_2.png');
}

.section--image3 .right {
    background-image: url('Images/banner.jpg');
}

.section--image4 .right {
    background-image: url('Images/Sobre_mi.jpg');
}

/*Botones*/
/* Estilo para el contenedor del botón */
.boton {
    display: flex;
    justify-content: center; /* Centra el botón */
    margin-top: 60px; /* Espacio superior entre el texto y el botón */
}

/* Estilo del botón */
.boton button {
    background-color: #4B0082; /* Color indigo para el fondo del botón */
    color: white; /* Texto blanco */
    padding: 12px 24px; /* Padding para hacerlo más grande */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Muestra el cursor de mano al pasar por encima */
    transition: all 0.3s ease; /* Transición suave para cambios */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Efecto cuando el botón está presionado */
.boton button:active {
    background-color: #3A0066; /* Más oscuro cuando se presiona */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Menos sombra al presionar */
}

/* Efecto al pasar el cursor sobre el botón */
.boton button:hover {
    background-color: #3A0066; /* Color más oscuro al pasar el mouse */
}
.analisis-list {
    display: flex;
    max-width: 75%;
    align-items: center;
    align-content: center;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    justify-content: center; /* Asegura que el contenido esté centrado verticalmente */
    margin: 0 auto; /* Centra el contenedor en la página */
    text-align: justify;
}
/* Asegura que el main no se vea afectado */

