@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

* {
    box-sizing: content-box;
  }

#fijo {
    position: sticky;
    right: 10px; /* Pegado a la derecha con un pequeño margen */
    bottom: 10px; /* Pegado abajo con un pequeño margen */
    height: 50px; /* Tamaño menor */
    width: auto; /* Mantiene la proporción de la imagen */
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 3%;
}

#fijo img {
    height: 50px; /* Ajusta el tamaño del logo */
    width: auto; /* Mantiene la proporción */
}
.game-container {
   
    max-width: fit-content;
    background-color: blue; /* Fondo del área del juego */
    border: 2px solid white;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: red;
    top: 180px;
    left: 180px;
}
/* Contenedor de los botones */
.boton-juego{
    user-select: none; /* Evita selección de texto */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    outline: none; /* Evita que aparezca un borde al hacer clic */
    -webkit-touch-callout: none; /* Evita el menú de opciones en iOS */
}
#botton-container{
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;

}
#buttonLeft{
    margin-right: 3vw;
}

/* Estilo para los botones en móvil (en pantallas pequeñas) */
@media (max-width: 768px) {
    #botton-container {
        display: block; /* Mostrar los botones en móviles */
    }
    .boton-juego{
        display: block;
    }
}
#game-container {
    width: 50vw;  /* Asegura que el contenedor ocupe todo el ancho disponible */
    /*height: 100vh; /* Hace que el contenedor siempre tenga el alto de la pantalla */
    
}

@media screen and (max-width: 768px) {
    @media screen and (max-width: 768px) {
        #game-container {
          width: 100%;  /* El contenedor ocupa todo el ancho */
          /*height: 100vh;  /* El contenedor ocupa toda la altura de la pantalla */
        }
      }

    button {
        padding: 12px 20px;
        font-size: 14px;
    }
}

/*Estilos*/
/* Fondo verde para toda la página */
body {
    background-color: #238302;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, p, a {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra negra con algo de transparencia */
    color: #ffffff;
    font-weight: 600; /* Peso de letra medio */
    text-decoration: none;

}
/* Centrar el logo en el header */
#Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#Logo-banner img {
    max-width: 50px; /* Ajusta el tamaño del logo si es necesario */
}
/* Hacer que el body use flexbox para distribuir los elementos */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url('Images/Fondo.png');
    background-size: 50%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
}

/* Permitir que el contenido principal ocupe el espacio disponible */
main {
    flex: 1;
    max-width: 100%; /* Ajusta según el ancho deseado */
    margin: 2vw auto; /* Centra el contenido horizontalmente */
    padding: 2vw; /* Agrega algo de espacio interno */

}

@media  screen and (max-width: 786px){
    main {
        flex: 1;
        max-width: 100%; /* Ajusta según el ancho deseado */
        margin: 2vw; /* Centra el contenido horizontalmente */
        padding: 2vw; /* Agrega algo de espacio interno */
    
    }
}


.list {
    background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
    backdrop-filter: blur(3px); /* Efecto de desenfoque */
    border-radius: 15px; /* Esquinas redondeadas */
    /*border: 1px solid black; /* Borde negro de 1px */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra detrás */
    padding: 1vw; /* Espaciado interno */
    align-items: center;
}



/* Mantener el footer pegado al fondo */
footer {
    background-color: #238302;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
header {
    background-color: #238302;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra solo abajo */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 10%; 
}

footer {
    background-color: #238302;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5); /* Sombra solo arriba */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* introducción*/
#Introduccion {
    background-color: #282C34; /* Un tono más oscuro de verde */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    padding: 20px 0; /* Espaciado interno de arriba y abajo */
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra superior */
    inset 0 -10px 20px rgba(0, 0, 0, 0.2); /* Sombra inferior */
    border-radius: 15px;
}

/* Para el texto */
.intro-text {
    flex: 1;
    padding-left: 1vw;
    padding-right: 15vw;  /* Espacio entre el texto y la imagen */
    text-align: left; /* Justifica el texto */
    line-height: 1; /* Ajusta el interlineado para mayor legibilidad */
    font-size: 3vw; /* Tamaño MUY grande */
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace; /* Fuente estilo programación */
}
.underscore {
    font-weight: 100;
    color: #569CD6; /* Guion bajo en blanco */
    animation: blink 0.7s step-end infinite;
}

/* Animación del guion bajo */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.tag { 
    color: #569CD6; /* Azul para las etiquetas */
}
.tag2 { 
    color: #e4904b; /* Azul para las etiquetas */
}
.tag3 { 
    color: #3ea855; /* Azul para las etiquetas */
}
.tag4 { 
    color: #646464; /* Azul para las etiquetas */
}
.tag5{
    color:#e2d068
}

/*Secciones*/

#Section > .Sections {
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para la línea */
    padding-bottom: 0px; /* Espacio debajo de cada sección */
    margin-bottom: 20px; /* Separación entre secciones */
}

.section-divider {
    height: 5px;
    background-color: #4B0082; /* Color índigo */
    margin: 20px 0; /* Espaciado entre las secciones */
    border-radius: 2px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
/*----------------------------------------------------------------------*/
/*Seccion general*/
/* Clase base para las secciones */
.section {
    display: flex; /* Usamos Flexbox para dividir la sección */
    justify-content: space-between; /* Asegura que las dos partes se alineen correctamente */
    align-items: center; /* Centra verticalmente el contenido */
    height: 15vw; /* Puedes ajustar la altura según lo que necesites */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    
    overflow: hidden; /* Asegura que nada sobresalga */
    position: relative; /* Para poder usar el pseudo-elemento */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Pseudo-elemento para la línea diagonal */
.section::before {
    content: ''; /* No tiene contenido visible */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #4B0082; /* Color indigo de la línea */
    clip-path: polygon(0 0, 60% 0, 70% 100%, 0 100%); /* Línea diagonal */
    z-index: 1;
    transition: transform 0.3s ease;
}

/* Efecto hover */
.section:hover {
    transform: scale(1.03); /* Agranda la sección */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

/* Mover la línea al pasar el mouse */
.section:hover::before {
    transform: translateX(-30%); /* Mueve la línea hacia la izquierda */
}

/* Estilos específicos para el contenido dentro de cada sección */
.section .left {
    flex: 25%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.section .left h1 {
    margin: 0;
    font-size: 2vw;
    color: #ffffff;

}

.section .right {
    flex: 75%;
    background-position:70%;
    background-size: cover;
    height: 15vw;
    z-index: 0;
}

/* Clases específicas para cada imagen de fondo */
.section--image1 .right {
    background-image: url('Images/fuchsproperty.png');

}

.section--image2 .right {
    background-image: url('Images/Data_science_2.png');
}

.section--image3 .right {
    background-image: url('Images/banner.jpg');
}

.section--image4 .right {
    background-image: url('Images/Sobre_mi.jpg');
    background-position: center 40%; /* Ajusta la imagen más abajo */
}

/*Botones*/
/* Estilo para el contenedor del botón */
.boton {
    display: flex;
    justify-content: center; /* Centra el botón */
    margin-top: 60px; /* Espacio superior entre el texto y el botón */
}

/* Estilo del botón */
.boton button {
    background-color: #4B0082; /* Color indigo para el fondo del botón */
    color: white; /* Texto blanco */
    padding: 12px 24px; /* Padding para hacerlo más grande */
    border: none; /* Sin borde */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Muestra el cursor de mano al pasar por encima */
    transition: all 0.3s ease; /* Transición suave para cambios */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Efecto cuando el botón está presionado */
.boton button:active {
    background-color: #3A0066; /* Más oscuro cuando se presiona */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Menos sombra al presionar */
}

/* Efecto al pasar el cursor sobre el botón */
.boton button:hover {
    background-color: #3A0066; /* Color más oscuro al pasar el mouse */
}
.analisis-list {
    display: flex;
    max-width: 75%;
    align-items: center;
    align-content: center;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    justify-content: center; /* Asegura que el contenido esté centrado verticalmente */
    margin: 0 auto; /* Centra el contenedor en la página */
    text-align: justify;
    background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
    backdrop-filter: blur(3px); /* Efecto de desenfoque */
    border-radius: 15px; /* Esquinas redondeadas */
    /*border: 1px solid black; /* Borde negro de 1px */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra detrás */
    padding: 20px; /* Espaciado interno */
}
/* Asegura que el main no se vea afectado */

/*Web development*/

.images-web-dev{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen para llenar el espacio */
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 15px;
   
}
#repo-boton{
    margin-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
    
}
#repo-boton-in{
    width: 100%;
    font-size: 2vw; /* Tamaño MUY grande */
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace; /* Fuente estilo programación */
    background-color: #282C34;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra superior */
    inset 0 -10px 20px rgba(0, 0, 0, 0.2); /* Sombra inferior */
}
#repo-boton button:hover{
    background-color: #1a1d22;
    
}
.coding{
    background-color: #282C34;
    padding: 1vw;
    border-radius: 15px;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra superior */
    inset 0 -10px 20px rgba(0, 0, 0, 0.2); /* Sombra inferior */
}
.h1-coding{
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
.p-coding{
    font-size: 2vw;
}
.padding_necesario{
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: block;
    margin: 0 auto;
    max-width: 50vw; /* No supera el tamaño de su contenedor */
    height: auto; /* Mantiene la proporción */
}
pre {
    border-radius: 8px;
    overflow: hidden;
    font-size: 1vw;
}
.hljs {
    border-radius: 15px; /* Ajusta el valor según qué tan redondeadas las quieras */
    overflow: hidden; /* Evita que el texto sobresalga de las esquinas */
    padding: 15px; /* Espaciado interno para que el texto no quede pegado */
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra superior */
    inset 0 -10px 20px rgba(0, 0, 0, 0.2); /* Sombra inferior */

}
 #foto_perfil{
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: block;
    margin: 0 auto;
    max-width: 15vw; /* No supera el tamaño de su contenedor */
    height: auto; /* Mantiene la proporción */
 }
 #about{
    display: flex;
    height: auto; /* Mantiene la proporción */
 }
 .p-about{
    font-size: 1vw;
 }
