#fijo{
    float: right;
    position: sticky;
    right: 0;
    bottom: 0;
    height: 55px;
}
.game-container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: blue; /* Fondo del área del juego */
    border: 2px solid white;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    top: 180px;
    left: 180px;
}